# Para despliegues locales (si no usas AWS SSO / profile)
AWS_ACCESS_KEY_ID=tu_key
AWS_SECRET_ACCESS_KEY=tu_secret
AWS_SESSION_TOKEN=opcional
AWS_REGION=us-east-1

# Opcional: forzar runtime local o DDB local
AWS_RUNTIME=nodejs18.x
DDB_ENDPOINT=http://localhost:8000
